/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  /*
        Purple: hsl(250, 66%, 75%)
        Blue: hsl(207, 90%, 72%)
        Pink: hsl(356, 66%, 75%)
        Teal: hsl(174, 63%, 62%)
  */
  --first-hue: 199;
  --sat: 98%;
  --lig: 60%;
  --second-hue: 219;
  --first-color: hsl(var(--first-hue), var(--sat), var(--lig));
  --first-color-alt: hsl(var(--first-hue), var(--sat), 71%); /* -4% */
  --title-color: hsl(var(--second-hue), 15%, 15%);
  --text-color: hsl(var(--second-hue), 8%, 35%);
  --text-color-light: hsl(var(--second-hue), 4%, 55%);
  --body-color: hsl(var(--second-hue), 100%, 99%);
  --container-color: #fff;

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: 'Poppins', sans-serif;
  --biggest-font-size: 1.75rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;
  --tiny-font-size: 0.625rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semibold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/* Responsive typography */
@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 2.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
  transition: 0.4s; /* for light mode animation */
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-semibold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  outline: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== THEME ===============*/
body.dark-theme {
  --title-color: hsl(var(--second-hue), 15%, 95%);
  --text-color: hsl(var(--second-hue), 8%, 75%);
  --body-color: hsl(var(--second-hue), 48%, 8%);
  --container-color: hsl(var(--second-hue), 32%, 12%);
}

/*========== Variables Dark theme ==========*/

/*========== 
    Color changes in some parts of 
    the website, in light theme
==========*/

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 968px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.grid {
  display: grid;
  gap: 1.25rem;
}

.main {
  overflow: hidden;
}

.section {
  padding: 4.5rem 0 1rem;
}

.section__title,
.section__subtitle {
  text-align: center;
}

.section__title {
  font-size: var(--h2-font-size);
  color: var(--first-color);
  margin-bottom: 2rem;
}

.section__subtitle {
  display: block;
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
}

/*=============== HEADER & NAV===============*/
.header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  color: var(--first-color);
  font-weight: var(--font-medium);
  transition: 0.4s;
}
.header__logo:hover{
  color: var(--first-color-alt);
}

.nav__hamburger {
  display: block;
}
@media screen and (min-width: 1024px) {
  .nav__hamburger {
    display: none;
  }
}

.nav__menu {
  display: none;
  text-align: left;
}
@media screen and (min-width: 1024px) {
  .nav__menu {
  }
}
.show {
  display: flex;
}

.nav__menu--bottom {
  position: fixed;
  bottom: 0;
  background-color: var(--first-color);
  width: 100%;
  z-index: var(--z-fixed);
}

.nav__list--bottom {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem 2.25rem;
}

.nav__item--bottom {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
svg {
  fill: white;
  height: 20px;
  width: 20px;
}
.nav__link {
  color: white;
  font-size: var(--smaller-font-size);
}


/* Active link */

/* Change background header */
.scroll-header {
  box-shadow: 0 2px 4px hsla(0, 0%, 1%, 0.1);
}
/*=============== HOME ===============*/
.home__container {
  position: relative;
  row-gap: 4.5rem;
  padding-top: 2rem;
}

.home__data {
  text-align: center;
}

.home__name {
  font-size: var(--biggest-font-size);
}

.home__occupation {
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
}

.home__occupation {
  color: var(--text-color);
  margin-bottom: 2.5rem;
}

.hero__container {
  height: 280px;
  width: 250px;
  justify-self: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  overflow: hidden;
  background: linear-gradient(
    180deg,
    hsla(var(--first-hue), var(--sat), var(--lig), 1),
    hsla(var(--first-hue), var(--sat), var(--lig), 0.2)
  );
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}

.hero__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.home__social {
  position: absolute;
  right: 0;
  bottom: 5rem;
  display: grid;
  row-gap: .5rem;
}

.home__social-link {
  width: 100%;
  background-color: var(--container-color);
  color: var(--title-color);
  padding: .25rem;
  border-radius: .25rem;
  display: flex;
  font-size: 1rem;
  transition: .4s;
  box-shadow: 0 2px 8px hsla(var(--second-hue), 48%, 8%, 0.1);
  align-items: center;
  justify-content: center;
}

.home__social-link:hover {
  background-color: var(--first-color);
  color: #fff;
}
/*=============== BUTTONS ===============*/
.button {
  display: inline-block;
  background-color: var(--first-color);
  color: var(--title-color);
  padding: .75rem 1rem;
  font-weight: var(--font-medium);
  transition: .4s;
}
.button:hover {
  background-color: var(--first-color-alt);
  color: var(--title-color);
}

.button--ghost {
  background-color: transparent;
  border: 2px solid var(--first-color);
  color: var(--first-color);
}
/*=============== ABOUT ===============*/
.about__container {
  row-gap: 2.5rem;
}

.about__img {
  width: 250px;
  justify-self: center;
}

.about__data {
  text-align: center;
}

.about__description {
  margin-bottom: 2rem;
}
/*=============== SKILLS ===============*/

/*=============== SERVICES ===============*/

/* Services modal */

/*Active modal*/

/*=============== WORK ===============*/

/* Active item work*/

/*=============== TESTIMONIAL ===============*/

/* Swiper class */

/*=============== CONTACT ===============*/

/*=============== FOOTER ===============*/

/*=============== SCROLL BAR ===============*/

/*=============== BREAKPOINTS ===============*/
/* For small devices */

/* For medium devices */

/* For large devices */
